ul>li {
	list-style: none;
	display: inline-block;
}
a {
	text-decoration: none;
}
#arriba {
    position: fixed;
    width: 100%;
    z-index: 1001;
    height: 120px;
} 
#slider { position: relative; z-index: 5; float: left;height: 699px;}

.redes {
	position: absolute;
	top: 0;
	right: 2%;
	width: 3%;
}
.fb {
	width: 100%;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	position: absolute;
}
.logo {
	width: 9%;
	position: absolute;
	top: 15px;
	left: 44.3%;
	border: 3px solid #84623f;
	border-radius: 100%;
	padding: 5px;
	background-color: #FFF;

}
.navbar {
	border-top: 2px solid #84623f;
	border-bottom: 2px solid #84623f;
	width: 100%;
	margin-top: 50px;
	position: absolute;
	background-color: #84623f;

}
.letra-menu {
	padding: 5px 30px;
	font-family: franklingGothicDemi;
	font-size: 20px;
	width: 30%;
	}
