body {
	background-color: #84623f;
}
.imagen1 {
		background-image: url(../img/fulltrufa.jpg);
		background-size: cover;
		background-position: center;

}
.imagen2 {
		background-image: url(../img/crepefresauva.jpg);
		background-size: cover;
		background-position: center;
}
.imagen3 {
		background-image: url(../img/taza.jpg);
		background-size: cover;
		background-position: center;
}
.imagen4 {
		background-image: url(../img/frutascrepe.jpg);
		background-size: cover;
		background-position: center;
}
.imagen5 {
		background-image: url(../img/tablaCrocante2.jpg);
		background-size: cover;
		background-position: center;
}
.imagen6 {
		background-image: url(../img/cracker.jpg);
		background-size: cover;
		background-position: center;
	}
.text-upto {
	color: #FFF;
}