body {
	background-color: #D1CBB2;
}
.imagen {
	position: absolute;
	width: 30%;
	top: 150px;
	left: 435px;
}
.foto-hermano {
	max-width: 100%;
	border-radius: 15px;
}
.resena1 {
	width: 17%;
	position: absolute;
	top: 230px;
	left: 160px;

}
.resena2 {
	width: 17%;
	position: absolute;
	top: 230px;
	right: 190px;
}
