body {
	background-color: #D1CBB2;
}


.primer {
	position: relative;
	margin-top: 150px;
}
.subtitulo {
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 50px;
}
.fondo {
	background-color: #84623f;
	opacity: 0.4;
	width: 100%;
	height: 225px;
	position: relative;
	border-radius:10%;
}
.texto {
	position: relative;
}
.imagen {
	position: absolute;
	width: 30%;
	left: 30%;
}
.foto-hermano {
	max-width: 100%;
	border-radius: 15px;
	position: relative;
}
.caja {
	background-color: #84623f;
	padding:10px;
}
.lista {
	list-style-type: none;
	width: 20%;
	
}
.1 {
	width: 10%;
}
.2 {
	width: 10%;
}
.fotos {
	width: 50%;
	position: relative;
	}
